* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #FEEAA5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header img {
    width: 100%;
    height: auto;
    max-height: 50vh;
    object-fit: cover;
}

.container {
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #724833;
}

.link-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link-button {
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    color: #724833;
    background-color: #FFDA65;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link-button:hover {
    background-color: #FEEAA5;
    border: 1px solid #A68A82;
}

@media (min-width: 600px) {
    .link-buttons {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .link-button {
        margin: 10px;
    }
}
